<div class="palette">
  <div class="palette__group">
    <p [style]='Square1' class='palette__square'></p>
    <p [style]='Square2' class='palette__square'></p>
    <p [style]='Square3' class='palette__square'></p>
  </div>
  <div>
    <p>Hue:</p>
    <input max=360 [(ngModel)]="h" type="range" (mousemove)="realTime()">
    <p>Saturation:</p>
    <input max=100 [(ngModel)]="s" type="range" (mousemove)="realTime()">
    <p>Lightness:</p>
    <input max=100 [(ngModel)]="l" type="range" (mousemove)="realTime()">
  </div>
  <div class='palette__colorvalues'>
    <pre>:root&#123;
      {{Square1}};
      {{Square2}};
      {{Square3}}
    }
    </pre>
  </div>
</div>