.palette{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:10px;
    background-color: hsl(0, 6%, 86%);

    &__group {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &__square {
        width:60px;
        height:60px;
    }

    &__colorvalues {
        width: 400px;
        margin:5px;
        padding:5px;
        background-color: hsl(0, 0%, 16%);
        color: hsl(0, 0%, 100%);
    }
  }