<div class="palette">
   <h1>Palette</h1>
   <div class="palette__group">
      <p class="palette__square1"></p>
      <p class="palette__square2"></p>
      <p class="palette__square3"></p>
      <div>
         <div class="palette__input">
            <input type="range" name="h" id="h" min="0" max="360">
            <label for="h">h</label>
         </div>
         <div class="palette__input">
            <input type="range" name="s" id="s" min="0" max="100">
            <label for="h">s</label>
         </div>
         <div class="palette__input">
            <input type="range" name="l" id="l" min="0" max="100">
            <label for="l">l</label>
         </div>
      </div>
   </div>
</div>